<template>
  <div>
    <div v-if="questions.length > 0">
      <QuestionsList v-on:getNextQuestion="getNextQuestion" v-bind:questions = questions[this.counter]></QuestionsList>
    </div>
    <h2>{{score}}</h2>
    <button v-if=finished v-on:click="sendResults()">See results</button>
  </div>
</template>

<script>
import QuestionsList from '@/components/QuestionsList.vue';
import {getQuestionsFromAPI} from '../api/QuestionQuery';
export default {
  name: 'GameScreen',
  components: {
    QuestionsList
  },
  async created(){
    try{
      let queryString = this.$route.params.query;
      this.questionsData = await getQuestionsFromAPI(queryString);
      this.arrangeQuestions(this.questionsData)
      //console.log(this.questions)
    }catch(e){
      console.error(e)
    }
    
  },
  methods: {
    shuffleList(listToShuffle){
      for (let i = listToShuffle.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [listToShuffle[i], listToShuffle[j]] = [listToShuffle[j], listToShuffle[i]];
      }
      return listToShuffle;
    },
    arrangeQuestions(jsonData){
      let questionItem = {
          question: "",
          answerOptions: [],
          correctOption: "",
      }
      let unshuffledList = []
      for(let i = 0; i < jsonData.length; i++){
        questionItem.question = jsonData[i].question;
        unshuffledList.push(jsonData[i].correct_answer);
        unshuffledList.push(...jsonData[i].incorrect_answers);
        questionItem.answerOptions = this.shuffleList(unshuffledList);
        questionItem.correctOption = jsonData[i].correct_answer;
        this.questions.push(questionItem);
        questionItem = {question: "", answerOptions: [], correctOption: ""}
        unshuffledList = [];
      }
    },
    getNextQuestion(answer) {
      if(this.counter >= this.questions.length-1){
        this.finished = true;
        if(answer === this.answers[this.answers.length-1]) return
        this.answers.push(answer);
        return;
      }else {
        this.counter += 1;
      }
      if(answer === this.questions[this.counter-1].correctOption){
        this.score += 10;
      }
      this.answers.push(answer);
    },
    getCorrects(){
      let temp = [];
      for(let i = 0; i<this.questions.length; i++){
          temp.push(this.questions[i].correctOption);
      }
        return temp;
    },

    sendResults(){
      let tempQuestions = []
      for(let i = 0; i < this.questions.length; i++){
        tempQuestions.push(this.questions[i].question)
      }
      this.resultsObject = {
        resultQuestions: tempQuestions,
        resultAnswers: this.answers,
        resultScore: this.score,
        resultCorrects: this.getCorrects()
      }
      this.$router.push({name: 'Results', params:{results: this.resultsObject}})
    }
  },
  data() {
    return{
      score: 0,
      counter: 0,
      finished: false,
      questions: [],
      answers: [],
      resultsObject: {},
      questionsData: {}
    }
  }
}
</script>
