<template>
  <div class="home">
    <select required id="dropDownCat" v-on:change="getSelectedCategory($event)">
      <option>Select category here</option>
      <option  v-for="category in categoryOptionsNames" 
      :key="category">{{category}}</option>
    </select>
    <input v-on:keyup="getNrInput($event)" placeholder="Number of questions">
    <select required id="dropDownDif" v-on:change="getSelectedDificulty($event)">
      <option>Select dificulty here</option>
      <option>easy</option>
      <option>medium</option>
      <option>hard</option>
    </select>
    <button v-on:click="startGame()">Click here to start the game</button>
  </div>
</template>

<script>
// @ is an alias to /src
import {getCategoriesFromAPI} from '../api/QuestionQuery';

export default {
  name: 'Home',
  async created(){
    try {
      this.categoryOptionsData = await getCategoriesFromAPI();
      this.fixCategories();
    } catch (error) {
      console.error(error)
    }
  },
  methods: {
    fixCategories(){
      for(let i = 0; i < this.categoryOptionsData.length; i++){
        this.categoryOptionsNames.push(this.categoryOptionsData[i].name);
      }
    },
    getSelectedCategory(event){
      this.selectedCategory = event.target.value
    },
    getNrInput(event){
      this.selectedNrOfQuestions = parseInt(event.target.value)
    },
    getSelectedDificulty(event){
      this.selectedDificulty = event.target.value
    },
    prepearQueryString(){
      let categoryID = ""
      for(let i = 0; i < this.categoryOptionsNames.length; i++){
        if(this.selectedCategory === this.categoryOptionsData[i].name){
          categoryID = this.categoryOptionsData[i].id;
        }
      }
      this.queryString = `https://opentdb.com/api.php?amount=${this.selectedNrOfQuestions}&category=${categoryID}&difficulty=${this.selectedDificulty}`
    },
    startGame(){
      this.prepearQueryString();
      this.$router.push({name: 'GameScreen', params:{query: this.queryString}})
    }
  },
  components: {
  },
  data(){
    return{
      categoryOptionsData: [],
      categoryOptionsNames: [],
      selectedCategory: "",
      selectedNrOfQuestions: 10,
      selectedDificulty: "",
      queryString: ""
    }
  }
}
</script>
