<template>
    <div>
        <h1>Your score: {{this.resultScore}}!</h1>       
        <ResultList v-bind:userAnswers = this.resultsObject.resultAnswers 
        v-bind:correctAnswers = this.resultsObject.resultCorrects
        v-bind:questionStatement = this.resultsObject.resultQuestions></ResultList>
    </div>
</template>

<script>
import ResultList from '@/components/ResultList.vue';
export default {
    name: 'Results',
    components: {
        ResultList
    },
    created(){
        this.resultsObject = this.$route.params.results;
        this.fillQuestionAnswers();
        this.getScore();
    },
    methods: {
        fillQuestionAnswers(){
            for(let i = 0; i < this.resultsObject.resultAnswers.length; i++){
                let insertString = `Question: ${this.resultsObject.resultQuestions[i]} \nCorrect answer: ${this.resultsObject.resultCorrects[i]} 
                 |  Your answer: ${this.resultsObject.resultAnswers[i]}`
                this.questionAnswers.push(insertString)
            }
        },
        getScore(){
            for(let i = 0; i < this.resultsObject.resultAnswers.length; i++){
                if(this.resultsObject.resultAnswers[i] === this.resultsObject.resultCorrects[i]){
                    this.resultScore+=10;
                }
            }
        }
    },
    data(){
        return{
            resultsObject: {},
            questionAnswers: [],
            resultScore: 0
        }
    }
}
</script>