<template>
    <div>
        <!---
        <ul>
            <li v-for='question of questions' v-bind:key='question'>{{question.question}}</li>
            <li v-for='question of questions' v-bind:key='question'>{{question.answer}}</li>
        </ul>
        --->
        <h4 v-html="questions.question"></h4>
        <div>
            <button v-on:click="sendAwnser(questions.answerOptions[0])">{{questions.answerOptions[0]}}</button>
            <button v-on:click="sendAwnser(questions.answerOptions[1])">{{questions.answerOptions[1]}}</button>
            <button v-if="questions.answerOptions.length>=3" v-on:click="sendAwnser(questions.answerOptions[2])">{{questions.answerOptions[2]}}</button>
            <button v-if="questions.answerOptions.length>=3" v-on:click="sendAwnser(questions.answerOptions[3])">{{questions.answerOptions[3]}}</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'QuestionsList',
    props: ['questions'],
    methods: {
        sendAwnser(answer){
            this.$emit('getNextQuestion', answer);
        }
    },
    data() {
        return {}

    }
}
</script>

<style scoped>

</style>