<template>
    <div>
        <ul v-for="i in userAnswers.length" :key="i">
            <li >
                <h4 v-html="questionStatement[i-1]"></h4>
                <p>Correct answer: {{correctAnswers[i-1]}}</p>
                <p>Your answer: {{userAnswers[i-1]}}</p> 
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'ResultList',
    props: ['userAnswers', 'correctAnswers', 'questionStatement'],
    data(){
        return{
        }
    }
}

</script>